<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brocodz.devamathacmi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".OfflineFirebase"
        android:allowBackup="true"
        android:icon="@mipmap/ic_new_ones"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_new_one_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".fuctions.readbooks.ReadBooks2"
            android:parentActivityName=".fuctions.readbooks.ReadBooks1"/>
        <activity
            android:name=".fuctions.readbooks.ReadBooks1"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AboutUs"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name=".fuctions.gallery.Muc"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".fuctions.lifehistory.History1"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".fuctions.lifehistory.Histroy2"
            android:parentActivityName=".fuctions.lifehistory.History1" />
        <activity
            android:name=".fuctions.more.More"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".fuctions.prayerrequests.PrayerRequests"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".fuctions.prayers.Prayers"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".fuctions.gallery.Gallery"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>